*div {
    box-sizing:border-box;
}

:root {
    --pink : #DB7BE4;
    --background :#21122A;
    --bleu : #0d6efd;
}

html {
    scroll-behavior: smooth;
}


/*PAGE ACCUEIL*

/* body */
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Nunito', sans-serif;
    background-attachment: fixed;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}
/* fin body */


/* header */

.navbar {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.me-auto {
    margin-right: 0px!important; 
    margin-left: auto!important;
}

a:link {text-decoration: none;}

a:hover {text-decoration: none;
    color: var(--pink)}

a {
    color: #ffffff;
}

.a-nav {
    padding: 15px;
}

.top-img {
    background: url("../../image/accueil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    object-fit: cover;
}

.text-xl-start {
    padding-left: 15px;
    line-height: 1.5;
}

h1 {
    color: #ffffff;
}

.scroll {
    color: var(--pink);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

/* fin header */


/* section découverte */

/*HR*/
hr {
    /* background-color: var(--bleu); */
    height: 5px;
    /* margin-right: 240px;
    margin-left: 240px; */
    margin-top: 15px;
    opacity: 100%;
    margin-bottom: 15px;
}
/*HR*/

/* début scroll-img */
marquee img {
    margin-right: 100px;
    height: 60px;
}
/* fin scroll-img */


h2 {
    color: #ffffff;
    background-color: #db7be411;
}

.text-start {
    padding-left: 6rem;
}

/* fin section découverte */


/* début section tuto-slide */

.videocontainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

.videocontainer iframe, .videocontainer embed, .videocontainer object {
    width: 100% !important; height: 100% !important;
    position: absolute;
    top: 0%; left: 0%;
}



.card-body {
    background-color: #21122A;
    border-radius: 0%;
    color: white;
} 

.col-sm-6 {
    display: flex;
    align-items: center;
}

/* fin section tuto-slide */

/* section presentation*/


.pulse-anim {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 80px auto 0;
    box-shadow: 0px 0px 70px 30px #DB7BE4;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    to{
        box-shadow: 0 0 0 35px rgba(195, 0, 255, 0.1);
    }
}

.pulse-anim svg {
    color: white;
    width: 60px;
    height: 60px;
}

.tile-presentation {
    text-align: center;
    animation: apparition 0.6s ease-out;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.tile-presentation:hover {
    text-decoration: none;
    color: var(--pink)
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.presentation .deux {
    display: flex;
}

.presentation .milieu {
    margin-top: 70px;
}

/* fin section presentation*/

/*debut slide*/

.b-slide {
    background-color: transparent;
    margin-bottom: 15px;
}
/*fin slide*/



/* fin page accueil */













































/* début page connexion */


/* body */

.body-connexion {
    background: url("../../image/connexion.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);

}
/* fin body */






/*début section connexion*/

.formulaire-card {
    background-color: #db7be4a7;
    border-radius: 50px;
    box-shadow: 0px 40px 40px;
    padding: 50px 100px 50px 100px;
}


h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5px 0;
    animation: apparition 0.6s ease-out;
}


.mdp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.mdp-oublie {
    background-color: var(--pink);
    padding: 0px 40px 15px 40px;
}

/*fin section connexion*/



/* fin page connexion */




















































/* début page inscription */


.body-inscription {
    background: url("../../image/inscription.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);
}



/* fin page inscription */



























/* début page contact */

.body-contact {
    background: url("../../image/contact.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background);
}













/* fin page contact */